html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px red solid; */
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex: 1;
  /* border: 2px red solid; */
}

.Greeting1,
.Greeting2 {
  display: flex;
  justify-content: center;
  color: black;
}

.innerBody {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}
.upperBody,
.lowerBody {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  /* border: 2px blue solid; */
}

.upperBody h2,
.lowerBody h2 {
  text-align: center;
}
.upperBodyButtons,
.lowerBodyButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* border: 2px red solid; */
}
button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
